* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* initial style */
.toppart {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: coral;
	color: white;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-size: 4rem;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}

.content-row {
	display: table;
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 350px;
}

.welcomebanner {
	position: relative;
	top: 80px;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Tourney', cursive;
	/* font-family: 'Lobster', cursive; */
}

/* bloom */
.content-row-inner {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contentone-column1 .contenttwo-column2 {
	width: 100%;
}

.contentone-column1 {
	width: 50%;
	padding: 10px;
	position: relative;
	top: 0;
	bottom: 0;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.content-row-inner {
		display: block;
		margin: auto;
	}
}

.contenttwo-row {
	display: table;
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	top: 5px;
}

.contenttwo-row .col {
	display: block;
	margin-bottom: 10px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 47%;
	margin-right: 10px;
	color: wheat;
	border: 1px solid wheat;
}

.contenttwo-row .col i {
	font-size: 64px;
}
/* bloom */

.footnote {
	text-align: center;
}

.footnote p {
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	.row {
		display: grid;
		grid-template-columns: auto auto;
		margin: 25px 10px 25px 10px;
	}

	.welcomebanner {
		top: 0px;
		/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
		font-family: 'Tourney', cursive;
		/* font-family: 'Lobster', cursive; */
	}
}

@media only screen and (max-width: 425px) {
	.hashtag {
		font-size: 15px;
	}

	.content-row-inner {
		margin-top: 100px;
		margin-bottom: 100px;

	}

	.contentone-column1 {
		width: 100%;
	}

	.contenttwo-row .col {
		width: 100%;
	}
}

.row>div {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#recovered {
	color: green;
}

#activecases {
	color: crimson
}

.tabledata {
	background-color: #FFAAFF;
}

/* index page */
.logo {
	height: 50px;
}

.navbar-header {
	float: left;
}
.navbar-nav {
	float: right;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
}

.canvas {
	height: 100vh;
	position: relative;
	background: rgba(60, 61, 61, 0.75);
	/* background-image: url('/images/landingimg1.jpg'); */
}

.canvas:before {
	content: '';
	background-image: url('/images/landingimg2.jpg');
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.canvas .canvas-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.canvas h1 {
		font-size: 4rem;
		color: whitesmoke;
}

.canvas p {
	font-size: 1.3rem;
	color: orange;
}

/* covid update section */

/* covid update section */

.footer {
	height: 50vh;
	position: relative;
	background-color: rgb(43, 41, 41);
	text-align: center;
	background-image: url('./images/footerbg.jpg');
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	/* position: absolute; */
}

.footer-row {
	/* display: table; */
	width: 100%;
	/* margin: auto; */
	/* text-align: center; */

	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-column {
	display: block;
	/* margin-bottom: 10px; */
	margin-top: 30px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 35%;
	/* margin-right: 5%; */
}

.litrato {
	width: 55%;
	border-radius: 50%;
}

.loc {
	color: orange;
}

blockquote {
	color: orange;
}

@media screen and (max-width: 768px) {
	.footer-column {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.footer {
		height: 75vh;
	}

	.footer-row {
		display: block;
	}

	.footer-column {
		margin-top: 25px;
		width: 100%;
	}
}

.icon {
	float: right;
	display: none;
}

.mobile-container {
	display: none;
}

@media only screen and (max-width: 425px) {
	.navbar-default {
		display: none;
	}

	.navbar-right {
		display: none;
	}

	.icon {
		display: block;
	}

	.mobile-container {
		max-width: 425px;
		margin: auto;
		background-color: #555;
		/* height: 500px; */
		color: white;
		border-radius: 10px;
		display: block;
	}
	
	.topnav {
		overflow: hidden;
		background-color: #333;
		position: relative;
	}
	
	.topnav #myLinks {
		display: none;
	}
	
	.topnav a {
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
	}

	.pages {
		text-align: right;
	}
	
	.topnav a.icon {
		background: black;
		font-size: 35px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}
	
	.active {
		background-color:#F8F8F8;
		color: white;
	}
}

/* about page */
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Caveat', cursive; */
.aboutpage {
	height: 100vh;
	background-image: -webkit-linear-gradient(80deg, #57956a 60%, #f6f6f6 40%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Alfa Slab One', cursive;
}

.aboutcontainer {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 3rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	text-align: center;
	align-items: center;
}

.aboutcontainer h1 {
	color: #398f51;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom: 2rem;
}

.aboutcontainer h2 {
	color: rgb(37, 33, 33);
	font-size: 2rem;
	font-weight: 400;
}

.aboutcontainer .image {
	width: 300px;
	border-radius: 50%;
	border: 1px solid #333;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media screen and (max-width: 320px) {
	.aboutcontainer .image {
		width: 270px;
	}
}

.aboutcontainer .aboutmetext {
	margin-bottom: 20px;
}

.aboutcontainer .aboutmetext p {
	font-size: 1rem;
	color: #fff;
	line-height: 2rem;
}

.aboutcontainer .btn {
	display: inline-block;
	padding: 1rem 3rem;
	background: #f6f6f6;
	font-size: 1rem;
	text-decoration: none;
	color: #398f51;
	border-radius: 5px;
	transition: background 0.5s;
}

.aboutcontainer .btn:hover {
	background: #dadada;
}

.aboutmetext {
	font-family: 'Alfa Slab One', cursive;
	color: rgb(90, 83, 83);
	margin: auto;
}

.socmedicons {
	margin: 20px auto;
	text-align: center;
	
}

.socmedicons a {
	margin-left: 1%;
	margin-right: 1%;
}

.socmedicons i {
	font-size: 32px;
	color: #fff;
}

.aboutmeworks {
	background: #000;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.aboutmeworks .row {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}